@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');


.home-title {
  font-size: 2em;
  margin-top: 10px;
  font-family: "Rock Salt";
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  padding: 35px;
}

nav a:hover {
  background-color: black;
  color: white;
}

#logo_link {
  padding-top: 5px;
}

#hero-img {
  width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

h4 {
  color: green;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: blanchedalmond;
}

body {
  background-color: #fcfbfb;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(20, 30, 13, .7);
}

.book,
.join {
  font-size: 18px;
  background-color: rgb(123, 255, 0);
  color: green;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: blueviolet;
  color: black;
}

.rivers-card, .camping-card, .rapids-card, .mountains {
  margin: 200px 0;
}
.card-img {
  border: 10px solid black;
}

.msg {
  background-color: aquamarine;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: green;
  font-family: "Rock Salt";
}

.msg p {
  color: green;
  font-size: .8em;
  padding-bottom: 15px;
}

.home-title {
  color: green;
}

.logo,
.icon {
  width: 80px;
}
.icon{
  padding-top: 10px;
}

footer {
  background-color: brown;
  padding: 25px 50px;
  margin-top: 200px;
}
footer .social img {
  padding-top: 15px;
}

footer h3 {
  color: rgb(25, 28, 25);
}

footer h3 a:hover {
  text-decoration: underline;
}

footer a {
  color: rgb(25, 28, 25);
  text-decoration: none;
}

footer a:hover {
  color: purple;
}